<ion-content>
  <form (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-checkbox [(ngModel)]="rememberMe" name="rememberMe"></ion-checkbox>
      <ion-label>Recordar mis datos</ion-label>
    </ion-item>
    <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
    <ion-button expand="full" (click)="openRegisterModal()">Registrarse</ion-button>
  </form>
</ion-content>
